<a href="https://colab.research.google.com/github/Sanarazaaa/Pandas---Beginner-to-Advanced/blob/main/Pandas_Beginner_to_Advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

In [1]:
import pandas as pd

In [2]:
# create a series
import pandas as pd
# From a list
data_list = [1, 2, 3, 4]
series_from_list = pd.Series(data_list)
print(series_from_list)

# From a dictionary
data_dict = {'a': 1, 'b': 2, 'c': 3}
series_from_dict = pd.Series(data_dict)
print(series_from_dict)

0    1
1    2
2    3
3    4
dtype: int64
a    1
b    2
c    3
dtype: int64

In [3]:
# create a dataframe
# From a dictionary of lists
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
# view data
print(df.head())

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
# access columns
print(df['Name'])

In [5]:
# access rows
print(df.iloc[0])  # First row
print(df.iloc[1:3])  # Rows from index 1 to 2

Name       Alice
Age           25
City    New York
Name: 0, dtype: object
      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [6]:
#  filter data based on a condition
# Filter rows where Age is greater than 28
filtered_df = df[df['Age'] > 28]
print(filtered_df)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [7]:
# adding new column
df['Salary'] = [50000, 60000, 70000]
print(df)

      Name  Age         City  Salary
0    Alice   25     New York   50000
1      Bob   30  Los Angeles   60000
2  Charlie   35      Chicago   70000

In [8]:
# Get a summary of statistics for numerical columns
print(df.describe())

        Age   Salary
count   3.0      3.0
mean   30.0  60000.0
std     5.0  10000.0
min    25.0  50000.0
25%    27.5  55000.0
50%    30.0  60000.0
75%    32.5  65000.0
max    35.0  70000.0

In [9]:
# Example: Group by City and calculate average Age
grouped = df.groupby('City')['Age'].mean()
print(grouped)

City
Chicago        35.0
Los Angeles    30.0
New York       25.0
Name: Age, dtype: float64